:root {
    --bg-dark: #232730;
    --bg-light: rgba(243, 243, 243, 0.911);
    --font-light-color: #232730; 
    --font-dark-color: #fff;
    --inside-padding: 1em 3em;
    --font-sm: 16px;
    --font-md: 20px;
    --font-lg: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

h3,
h4 {
    font-size: var(--font-lg);
    font-family: ubuntu;
}
h5,
h6 {
    font-size: var(--font-sm);
    font-family: ubuntu;
}
p {
    font-size: var(--font-md);
}

.theme-dark {
    background-color: var(--bg-dark);
    color: var(--font-dark-color);
}
.theme-light {
    background-color: var(--bg-light);
    color: var(--font-light-color);
}

.container {
    width: 1024px;
    margin: 10px auto;
}

.card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.274);
    overflow: hidden;
    margin-bottom: 20px;
    transition: .2s ease-in;
    background-color: inherit;
}

.card .image, .card .body {
    min-height: 320px;
}

.card .image {
    background-image: url('/assets/imgs/person.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/*  Card Body Section Styles */
.card .body {
    border-right: 4px solid rgb(103, 50, 156);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 2em;
}
.body div {
    width: 100%;
}
.sub-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: rgba(103, 50, 156, 0.712);
} 
.content {
    text-align: justify;
}
.card:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.274);
    transition: .2s ease-in;
}
/* End of Body Section */

/* Card footer Section */

.card .footer  {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.footer button {
    display: inline;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .2s ease-out;
}

.footer button b {
    margin-left: .5em;
}

.theme-dark .footer button {
    background-color: #3d3e412c;
    color: var(--font-dark-color);
}

.theme-light .footer button {
    background-color: rgba(118, 117, 119, 0.397);
    color: var(--font-dark-color);
}

.theme-light .footer button:nth-child(1) {
    color: rgb(103, 50, 156);
}

.footer button:nth-child(2) {
    background-color: rgb(103, 50, 156);
}

.footer button:nth-child(1):hover {
    background-color: rgb(248, 69, 37);
    color: #eee;
}



/* Griding Setup */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-9 {
        width: 75%;
    }

}

@media only screen and (min-width: 768px) {
    .col-4 {
        width: 33.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }
}

@media only screen and (max-width: 420px) {
    body {
        margin: 10px;
    }
    h3 {
        font-size: var(--font-md);
    }
    h6 {
        font-size: var(--font-sm);
    }
    p {
        font-size: var(--font-sm);
    }
    .card .body {
        border-right: none;
        border-bottom: 4px solid rebeccapurple;
    }
    .title, .sub-title {
        margin-bottom: 10px !important;
    }
    .card .body {
        height: fit-content;
    }

    .card .footer  {
        text-align: left;
    }
}